.bg__root {
  width: 100%;
  height: 100%;
  background-image: url(~src/assets/bg.jpg);
  position: absolute;
  z-index: -1;

  .bg--left-top {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
  }

  .bg--right-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    pointer-events: none;
  }

  .bg--right-top {
    position: absolute;
    top: 0;
    right: 0;
    pointer-events: none;
  }

  .bg--left-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    pointer-events: none;
  }
}

.root {
  .container {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    height: 100%;

    .topbar {
      display: flex;
      align-items: center;
      padding-top: 24px;

      > img {
        margin-right: 4px;
      }

      &__left {
        margin-right: 8px;
      }

      &__title {
        line-height: 0.8;
        font-weight: bold;
      }

      &__subtitle {
        font-size: 75%;
      }

      &__right {
        font-size: 90%;
      }
    }

    main.main {
      .map__search {
        padding-top: 16px;
        padding-bottom: 16px;
      }

      .map__container {
        background-color: #FFFADD;
        padding: 8px;
        border: 1px solid #E5E5E5;
        box-shadow: 6px 6px 0px 0px #133B38BF;
      }

      .attractions {
        height: 500px;
        background-color: white;
      }
    }
  }
}
